* {
  box-sizing: border-box;
}
:root {
  --primary-color: #7264d6;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background: #fff;
}
/* common */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
input,
select,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100%-48px);
  margin: 0 auto;
}
.btn {
  --height: 58px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 6px;
  background: #212832;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}
.topic {
  padding-left: 26px;
  position: relative;
  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.topic::before {
  left: 0;
  top: 50%;
  width: 18px;
  height: 2px;
  background: #696d77;
  content: "";
  position: absolute;
}
.section-desc {
  color: #696d76;
  font-size: 1.8rem;
  line-height: 1.67;
}
.section-heading {
  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}
/* Header */
.header {
  padding: 54px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 70px;
}
.navbar {
  margin-right: auto;
}
.navbar__list {
  column-gap: 47px;
  display: flex;
}
.navbar__link {
  color: #696d76;
  padding: 6px;
  font-size: 1.6rem;
  line-height: 1.75;
}
.navbar__link:hover,
.navbar__link--active {
  color: #212832;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active {
  position: relative;
}
.navbar__link--active::before {
  position: absolute;
  left: 6px;
  bottom: -7px;
  content: "";
  display: inline-block;
  width: 47px;
  height: 1px;
  border-radius: 0.5px;
  background: #7264d6;
}
.header-action__link {
  color: #212832;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.header-action {
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.header-action__btn {
  min-width: 113px;
  height: 52px;
  transition: 0.5s;
}
.header-action__btn:hover {
  color: #212832;
  background: #fff;
  border: 1px solid #212832;
}
button {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

.fil0 {
  fill: #7264d6;
}
/* Hero */
.hero {
  padding: 76px 0;
}
.hero__inner {
  display: flex;
  align-items: center;
  column-gap: 168px;
}
.hero__heading {
  margin-top: 12px;
  color: #212832;
  width: 500px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.16;
}
.hero__heading strong {
  color: #7264d6;
}
.hero__desc {
  width: 540px;
  margin-top: 20px;
}
.hero__subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
  height: 74px;
  margin-top: 40px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.hero__subscribe-form__input {
  outline: none;
  border: none;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  padding: 0 22px;
}
.hero__subscribe-form__input::placeholder {
  color: #696d76;
  font-size: 1.6rem;
  line-height: 1.75;
}
.hero__subscribe-form__submit {
  width: 149px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #7264d6;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  transition: 0.5s;
}
.hero__subscribe-form__submit:hover {
  color: #7264d6;
  background: #fff;
  border: 1px solid #7264d6;
}
button {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  width: 149px;
  height: 58px;
  background: #7264d6;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  border: 3px solid #7264d6;
  border-radius: 8px;
  box-shadow: 0 0 0 #7264d68c;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #7264d6);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #7264d6;
  box-shadow: 0 0 25px #7264d68c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #7264d6);
  z-index: 2;
}

.fil0 {
  fill: #7264d6;
}
.hero__commit {
  color: #696d76;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
}
.hero__media-img {
  width: 296px;
  height: 562px;
  flex-shrink: 0;
}
.hero__media {
  position: relative;
}
.hero-decor__1 {
  padding: 14px 10px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  width: 174px;
  height: 46px;
  flex-shrink: 0;
  position: absolute;
  display: flex;
  align-items: center;
  top: 113px;
  left: -100px;
}
.hero-decor__deposite {
  padding: 0 19px 0 8px;
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.hero-decor__total {
  color: #4ab5e3;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}
.hero-decor__2 {
  width: 130px;
  position: absolute;
  top: 144px;
  height: 130px;
  right: -175px;
  border-radius: 50%;
  text-align: center;
  background: #da6464;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-decor__percent {
  color: #fff;
  font-size: 4.4rem;
  font-weight: 600;
}
.hero-decor__interest {
  color: #fff;
}
.hero-decor__3 {
  position: absolute;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  column-gap: 11px;
  border-radius: 10px;
  background: #439f90;
  height: 68px;
  width: 124px;
  right: -74px;
  bottom: 60px;
}
.hero-decor__moneyfunds {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.hero-decor__securedfunds {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
}
/* Work */
.work {
  padding: 84px 0;
}
.work__inner {
  display: flex;
  align-items: center;
  column-gap: 230px;
}
.work__media {
  position: relative;
}
.work__decor {
  position: absolute;
  top: 76px;
  right: 55px;
}
.work__media-img {
  width: 456px;
  height: 619px;
}
.work__heading {
  margin-top: 12px;
}
.work__content-wrap {
  margin-top: 70px;
}
.work__tittle {
  margin-bottom: 16px;
  color: #212832;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.25;
}
.work__desc {
  margin-bottom: 30px;
  width: 470px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.work__decor-congratulations {
  position: absolute;
  bottom: 96px;
  right: -100px;
  padding: 15px;
  width: 226px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.work__decor-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #4ab5e3;
  border-radius: 4px;
}
.work__decor-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}
.work__decor-text {
  color: #212832;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
}
.work__decor-text2 {
  margin-top: 5px;
  color: #696d76;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Information */
.info {
  padding: 76px 0;
}
.info__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}
.info__heading,
.info__desc {
  width: 470px;
}
.info__desc {
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
  padding-bottom: 28px;
}
.info__list {
}
.info__item {
  margin-bottom: 18px;
  color: #212832;
  font-family: Open Sans;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}
.info__btn {
  margin-top: 20px;
}
.info__img {
  width: 482px;
  height: 322px;
}
